@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    /* --lightning-orange: 55%; */
    --saturation: 100%;
    --orange-clr: hsl(26, var(--saturation), 55%);
    --pale-orange-clr: hsl(25, 100%, 94%);
    --very-dark-blue-clr: hsl(220, 13%, 13%);
    --dark-grayish-blue-clr: hsl(219, 9%, 45%);
    --grayish-blue-clr: hsl(220, 14%, 75%);
    --light-grayish-blue-clr: hsl(223, 64%, 98%);
    --white-clr: hsl(0, 0%, 100%);
    --opacity-black-clr: 0%;
    --black-clr: hsl(0, 0%, var(--opacity-black-clr));
}
body{
    font-family: 'Kumbh Sans', sans-serif;
}
html.--overflow-hidden, 
body.--overflow-hidden{
    overflow: hidden;
}
button{ cursor: pointer; }
h1,h2,h3, h4, p, ul{ 
    margin: 0;
    padding: 0;
}
img{ 
    max-width: 100%; 
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.top-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8em .75em;
}
.top-header__left,
.top-header__right{
    position: relative;
    display: flex;
    align-items: center;
}
.top-header__left{ padding-left: .5em; }
.top-header__right{ padding-right: .5em; }
.logo{
    position: relative;
    display: inline-block;
    padding: .1em;
    background: url(../images/logo.svg) no-repeat;
    background-position: left 35%;
}
.logo .invisible{ opacity: 0;}
.nav-btn{ 
    position: relative;
    margin-right: .75em;
    padding: .5em;
}
.top-header__btn-cart{ 
    position: relative; 
    margin-right: .8em;
}
.top-header__btn-cart .items-quantity{
    position: absolute;
    top: -25%;
    right: -5%;
    z-index: 2;
    padding: .2em .75em;
    visibility: hidden;
    opacity: 0;
    border-radius: 50%;
    background-color: var(--orange-clr);
    color: var(--white-clr);
    font-size: .6rem;
    font-weight: 700;
    transition: visibility, opacity .3s ease-in;
}
.top-header__btn-cart .items-quantity.active{
    visibility: visible;
    opacity: 1;
}
.user-container img{ width: 30px; }
.top-header__left .main-nav{
    position: absolute;
    top: -30%;
    left: -7%;
    z-index: 5;
    transform: translateX(-100%);
    width: 101vw;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
}

.main-nav__content-container{
    width: 70%;
    height: 100%;
    transform: translateX(-100%);
    z-index: 5;
    background: var(--white-clr);
    transition: transform .5s ease-in-out;
    overflow: auto;
}
.main-nav.active,
.main-nav__content-container.active{ 
    transform: translateX(0%); 
}
.main-nav__close-btn{
    padding: .5em;
    margin: 1.5em 0 0 1em;
}
.main-nav__links{
    margin-top: 1em;
    padding-left: .5em;
    list-style: none;
}
.main-nav__links li{ margin: .5em 0; }
.link-item{
    display: inline-block;
    padding: .5em .8em;
    text-decoration: none;
    color: rgba(0,0,0,.7);
    font-weight: 700;
    font-size: 1.10rem;
}
.nav-btn,
.user-container,
.top-header__btn-cart,
.main-nav__close-btn{
    border: none;
    outline: none;
    background: transparent;
}

.cart-section{
    display: none;
    position: absolute;
    top: 115%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 4;
    opacity: 0;
    min-width: 355px;
    background: var(--white-clr);
    border-radius: 10px;
    box-sizing: border-box;
    transition: opacity .3s ease-in-out;
}
.cart-section.active{ opacity: 1; }
.cart-section__title{
    padding: 1.5em;
    font-size: 1rem;
    border-radius: 10px 10px 0 0;
    border-bottom: solid 1px var(--grayish-blue-clr);
}
.cart-section__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    min-height: 190px;
    padding: 0 1.5em;
}
.cart-section__body.--with-items{
    display: block;
    padding: 1.25em 1.5em 2em;
    min-height: auto;
}
.cart-section__body .empty-msg{
    font-weight: 700;
    color: var(--dark-grayish-blue-clr);
}
.cart-section__body .empty-msg.--deactivate{ display: none; }
.cart-section__products{
    display: none; 
    list-style: none;
}
.cart-section__products.--active{ display: block; }
.cart-section__products .product{
    --bd-radius: 5px;
    padding: 0;
    position: relative;
    display: grid;
    grid-template-columns: 18% 72% 10%;
    grid-auto-rows: 65px;
    justify-items: center;
    align-items: center;
    border-radius: var(--bd-radius);
    text-decoration: none;
    background: transparent;
    color: var(--dark-grayish-blue-clr);
}
.cart-section__products .product__thumb{
    border-radius: var(--bd-radius);
}
.cart-section__products .price-calculation,
.cart-section__products .price-calculation__value,
.price-calculation__value .value__span,
.cart-section__products .price-calculation__final-price,
.cart-section__products .btn-del-product{
    position: relative;
}
.product__abstract{ 
    max-width: 90%;
    padding: .2em .2em .2em .5em; 
}
.product__abstract .title{ 
    font-weight: 400; 
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product__abstract .price-calculation,
.price-calculation__final-price{
    display: inline-block;
    margin-top: .5em;
}
.price-calculation__final-price{
    margin-left: .5em;
    color: var(--black-clr);
    font-weight: 700;
}
.cart-section__products .btn-del-product{
    height: max-content;
    width: max-content;
    padding: .5em;
    margin-right: -0.5em;
    border: none;
    background: transparent;
}
.value__span, 
.final-price__span{
    margin-left: -0.2em;
}
.cart-section__btn-checkout{
    display: none;
    width: 100%;
    padding: 1.15em;
    margin-top: 1.15em;
    border: none;
    border-radius: 10px;
    background-color: var(--orange-clr);
    color: var(--white-clr);
    font-weight: 700;
}
.cart-section__btn-checkout.--active{ display: block; }
.cart-section__body .cart-section__btn-checkout.--active{ min-height: auto; }
.product__content{
    padding: 1.2em;
}
.product{
    padding-bottom: 3em;
}
.product__image{ 
    position: relative; 
    max-height: 310px;
    overflow: hidden;
}
.product__image .image{
    position: relative;
    top: -30px;
    left: 0px;
    visibility: visible;
    opacity: 1;
    transition: visibility, opacity .5s ease-in-out;
}
.product__image .image.--changed{
    visibility: hidden;
    opacity: 0;
}
.product__image .btn-previousImage,
.product__image .btn-nextImage{
    --side-space: 5%;
    position: absolute;
    top: 50%;
    z-index: 3;
    padding: .60em .8em;
    transform: translateY(-50%);
    border-radius: 50%;
    border: none;
    background-color: var(--white-clr);
}
.product__image .btn-previousImage{ left: var(--side-space); }
.product__image .btn-nextImage{ right: var(--side-space); }
.product__image .btn-previousImage img,
.product__image .btn-nextImage img{
    max-width: 85%;
}
.product__content .company-name{
    margin-bottom: 1em;
    color:  hsl(26, 80%, 55%);
    font-weight: 700;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.product__name{ display: none; }
.product__title{ font-size: 1.72rem; }
.product__description{
    margin: 1.2em 0 2em;
    color: var(--dark-grayish-blue-clr);
    line-height: 1.5em;
    font-size: .95rem;
}
.product__price,
.product__price .discount-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product__price .price-discount{
    font-size: 1.70rem;
    font-weight: 700;
}
.product__price .discount{
    margin-left: 1em;
    padding: .25em .45em;
    background-color: hsl(26, 80%, 92%);
    color: hsl(26, 80%, 55%);
    font-weight: 700;
    font-size: 1rem;
    border-radius: 5px;
}
.product__price .full-price{
    width: max-content;
    text-decoration: line-through;
    color: var(--grayish-blue-clr);
    font-weight: 700;
}
.product__content .cart-form{
    --bd-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    font-size: .97rem;
}
.cart-form__input-container{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
    background-color: var(--light-grayish-blue-clr);
    border-radius: var(--bd-radius);
    box-sizing: border-box;
}
#product__quantity{
    position: relative;
    padding: 1em;
    text-align: center;
    font-weight: 700;
    border: none;
    background-color: inherit;
    appearance: textfield;
        -webkit-appearance: textfield;
}
#product__quantity:focus{ outline: none; }
.cart-form__add-btn{
    display: flex;
    justify-content: center;
    padding: 1.15em 1em;
    color: var(--white-clr);
    background-color: var(--orange-clr);
    font-weight: 700;
    border: none;
    border-radius: var(--bd-radius);
}
.cart-form__add-btn img{ margin-right: 1em; }
.cart-form__input-container .btn-changeValue{
    position: relative;
    background: inherit;
    max-height: max-content;
    padding: .5em 1em;
    border: none;
}